[submodule "components/linux_resource_detect"]
	path = components/linux_resource_detect
	url = https://github.com/candiceT233/linux_resource_detect.git
[submodule "components/datalife"]
	path = components/datalife
	url = https://github.com/pnnl/datalife.git
[submodule "components/dayu"]
	path = components/dayu
	url = https://github.com/pnnl/DaYu.git
